version: 2
jobs:
  build:
    docker:
      #- image: circleci/python:3.4-jessie-browsers
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            virtualenv -p python3 ~/.virtualenvs/tap-harvest
            source ~/.virtualenvs/tap-harvest/bin/activate
            pip install .
            pip install pylint
            # python3 -mvenv /usr/local/share/virtualenvs/tap-harvest
            # source /usr/local/share/virtualenvs/tap-harvest/bin/activate
            # pip install -U 'pip<19.2' setuptools
            # pip install -e .[dev]
      - run:
          name: 'Pylint'
          command: |
            source ~/.virtualenvs/tap-harvest/bin/activate
            pylint tap_harvest --disable missing-docstring,logging-format-interpolation,no-member,broad-except,redefined-variable-type,too-many-branches,too-few-public-methods,wrong-import-order,too-many-locals
      - add_ssh_keys
      - run:
          name: 'Integration Tests'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/sandbox dev_env.sh
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-a-test --tap=tap-harvest \
                       --target=target-stitch \
                       --orchestrator=stitch-orchestrator \
                       --email=harrison+sandboxtest@stitchdata.com \
                       --password=$SANDBOX_PASSWORD \
                       --client-id=50 \
                       tap_tester.suites.harvest

workflows:
  version: 2
  commit:
    jobs:
      - build
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
